<div ng-controller="ShiftCtrl">
    <form novalidate name="shiftForm">
        <ul class="shifter-form">
            <li>
                <label>Shift name<span class="required">*</span></label>
                <input type="text" name="name" class="field-long" ng-model="shift.name" required ng-minlength="1"
                       ng-class="{'has-error' : invalid(shiftForm, 'name') }">
                <p ng-show="invalid(shiftForm, 'name')" class="help-block">Name cannot be blank.</p>
            </li>
            <li>
                <label>Description </label>
                <textarea name="description" ng-model="shift.description" class="field-long field-textarea"
                          ng-class="{'has-error' : invalid(shiftForm, 'description') }" ng-maxlength="200"></textarea>
                <p ng-show="invalid(shiftForm, 'description')" class="help-block">Description cannot be over 200 characters long.</p>
            </li>
            <li>
                <label>Shift start and end time<span class="required">*</span></label>
                <input type="text" name="startTime" class="field-divided" ng-model="shift.start_time" required
                       ng-class="{'has-error' : invalid(shiftForm, 'startTime') }">
                <p ng-show="invalid(shiftForm, 'startTime')" class="help-block">Start time cannot be blank.</p>

                <input type="text" name="endTime" class="field-divided" ng-model="shift.end_time" required
                       ng-class="{'has-error' : invalid(shiftForm, 'endTime') }">
                <p ng-show="invalid(shiftForm, 'endTime')" class="help-block">End time cannot be blank.</p>
            </li>
            <li>
                <label>Shift duration<span class="required">*</span></label>
                <input type="number" name="duration" class="field-divided" ng-model="shift.duration" required
                       ng-class="{'has-error' : invalid(shiftForm, 'duration') }" ng-pattern="/^\d{1,2}$/">
                <p ng-show="invalid(shiftForm, 'duration')" class="help-block">Duration cannot be blank.</p>
            </li>
            <li>
                <button ng-disabled="shiftForm.$invalid" class="btn btn-primary sharp" ng-click="save()">Save</button>
                <button class="btn btn-info sharp" ng-click="cancel()">Cancel</button>
                <button ng-hide="newShift" class="btn btn-danger sharp pull-right" ng-click="delete()">Delete</button>
            </li>
        </ul>
    </form>
</div>