<div ng-app="shifter">
  <div class="container">
    <div shifter-nav></div>
    <div login-dialog></div>
    <div class="view-container">
      <div ng-view class="view-frame animate-view"></div>
    </div>
  </div>
</div>