<div ng-app="shifter">
  <div class="container" ng-controller="ApplicationCtrl">
    <div shifter-nav></div>
    <div login-dialog ng-if="!isLoginPage"></div>
    <div class="view-container">
      <div ng-view class="view-frame animate-view"></div>
    </div>
  </div>
</div>