<aside class="flash row">
    <article flash-alert duration="0" active-class="alert" class="col-md-6 col-md-offset-3">
        {{flash.message}}
    </article>
</aside>

<form class="form-horizontal" role="form" class="edit-user" name="employeeForm" novalidate>
    <div class="form-group" ng-class="{'has-error' : employeeForm.first_name.$invalid && !employeeForm.first_name.$pristine }">
        <label
            for="first_name"
            class="col-md-2 control-label col-md-offset-2">
            First name
        </label>
        <div class="col-md-5">
            <input type="text" id="first_name" name="first_name" class="form-control" placeholder="Insert first name" ng-model="employee.first_name" ng-minlength="1" required>
            <p ng-show="employeeForm.first_name.$invalid && !employeeForm.first_name.$pristine" class="help-block">First name is required</p>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error' : employeeForm.last_name.$invalid && !employeeForm.last_name.$pristine }">
        <label
                for="last_name"
                class="col-md-2 control-label col-md-offset-2">
            Last name
        </label>
        <div class="col-md-5">
            <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Insert last name" ng-model="employee.last_name" ng-minlength="1" required>
            <p ng-show="employeeForm.last_name.$invalid && !employeeForm.last_name.$pristine" class="help-block">Last name is required</p>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error' : employeeForm.work_percent.$invalid && !employeeForm.work_percent.$pristine }">
        <label
                for="work_percent"
                class="col-md-2 control-label col-md-offset-2">
            Work percent
        </label>
        <div class="col-md-5">
            <input type="number" id="work_percent" name="work_percent" class="form-control" placeholder="100" ng-model="employee.work_percent" min="0" max="100" required>
            <p ng-show="employeeForm.work_percent.$invalid && !employeeForm.work_percent.$pristine" class="help-block">Enter number between 0 and 100</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-3">
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
        <div class="col-md-4 text-right">
            <button class="btn btn-primary" ng-click="save()" ng-disabled="employeeForm.$invalid">Save</button>
        </div>
    </div>
</form>