<header class="row">
    <h1 class="text-center col-md-6 col-md-offset-3">Find Employees</h1>
</header>
<section class="row">
    <form>
        <div class="form-group col-md-6 col-md-offset-3">
            <label for="keywords" class="sr-only">Employees</label>
            <input ng-model="keywords" name="keywords" id="keywords" type="text" autofocus class="form-control" placeholder="Employee name, e.g. Kalam Mekhar">
        </div>
        <div class="form-group col-md-6 col-md-offset-3 text-center">
            <button ng-click="search(keywords)" class="btn btn-primary btn-lg sharp">Search</button>
            <button ng-click="newEmployee()" class="btn btn-info btn-lg sharp">New employee...</button>
        </div>
    </form>
</section>
<hr>
<section class="row" ng-if="employees">
    <h1 class="text-center h2">Search results</h1>
    <h3 class="text-center" ng-show="!employees.length">No employees found</h3>
    <ul class="list-unstyled">
        <li ng-repeat="employee in employees">
            <section class="well col-md-6 col-md-offset-3">
                <h1 class="h3 col-md-6 text-right" style="margin-top: 0"><a href ng-click="edit(employee.id)">{{ employee.first_name }} {{ employee.last_name }}</a></h1>
                <div class="col-md-6">
                    <button ng-click="edit(employee.id)" class="btn btn-info sharp">Edit</button>
                </div>
            </section>
        </li>
    </ul>
</section>
