.shifter-form {
  margin: 10pt auto;
  max-width: 400pt;
  padding: 20pt 12pt 10pt 20pt;
  font: 13pt "Lucida Sans", "Lucida Grande", sans-serif;

  li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10pt 0 0 0;
  }

  label {
    margin: 0 0 3pt 0;
    padding: 0pt;
    display: block;
    font-weight: bold;
  }

  p.invalid {
    width: 100%;
    border: 1pt solid red;
    padding: 8pt;
  }

  .field-divided {
    width: 49%;
  }

  .field-long {
    width: 100%;
  }

  .field-select {
    width: 100%;
  }

  .field-textarea {
    height: 100pt;
  }

  .required {
    color: red;
  }
}