.shift-list {

  ul {
    list-style-type: none;
  }

  li {
    list-style: none;
    color: #fff;
    background: #0099cc;
    height: 2em;
    line-height: 2em;
    margin: 2pt;
    padding: 0 0.5em;
    overflow: hidden;
    width: 10em;
    float: left;
  }

  li:nth-of-type(2) {
    background: #33a6cc;
  }

  li:nth-of-type(3) {
    background: #007299;
  }

  li:hover {
    color: #fefefe;
    -moz-box-shadow: 0 0 8pt #33a6cc;
    -webkit-box-shadow: 0 0 8pt #33a6cc;
    box-shadow: 0 0 8pt #33a6cc;
    border: 1pt solid #33a6cc;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  a:hover {
    text-display: none;
    color: #fff;
  }
}

@media (max-width: 767pt) {
  .shift-list {
    li {
      width: 5em;
    }
  }
}